:root {
  --font-display-display-large-font-size: 63px;
  --font-display-display-large-text-decoration: none;
  --font-display-display-large-font-family: Inter;
  --font-display-display-large-font-weight: 500;
  --font-display-display-large-font-style: normal;
  --font-display-display-large-font-stretch: normal;
  --font-display-display-large-letter-spacing: -1px;
  --font-display-display-large-line-height: 64px;
  --font-display-display-large-paragraph-indent: 0;
  --font-display-display-large-paragraph-spacing: 0;
  --font-display-display-large-text-case: none;
  --font-display-display-medium-font-size: 48px;
  --font-display-display-medium-text-decoration: none;
  --font-display-display-medium-font-family: Inter;
  --font-display-display-medium-font-weight: 700;
  --font-display-display-medium-font-style: normal;
  --font-display-display-medium-font-stretch: normal;
  --font-display-display-medium-letter-spacing: -0.25px;
  --font-display-display-medium-line-height: 52px;
  --font-display-display-medium-paragraph-indent: 0;
  --font-display-display-medium-paragraph-spacing: 0;
  --font-display-display-medium-text-case: none;
  --font-display-display-small-font-size: 36px;
  --font-display-display-small-text-decoration: none;
  --font-display-display-small-font-family: Inter;
  --font-display-display-small-font-weight: 500;
  --font-display-display-small-font-style: normal;
  --font-display-display-small-font-stretch: normal;
  --font-display-display-small-letter-spacing: -2px;
  --font-display-display-small-line-height: 44px;
  --font-display-display-small-paragraph-indent: 0;
  --font-display-display-small-paragraph-spacing: 0;
  --font-display-display-small-text-case: none;
  --font-headline-headline-large-font-size: 32px;
  --font-headline-headline-large-text-decoration: none;
  --font-headline-headline-large-font-family: Inter;
  --font-headline-headline-large-font-weight: 600;
  --font-headline-headline-large-font-style: normal;
  --font-headline-headline-large-font-stretch: normal;
  --font-headline-headline-large-letter-spacing: -1.5px;
  --font-headline-headline-large-line-height: 40px;
  --font-headline-headline-large-paragraph-indent: 0;
  --font-headline-headline-large-paragraph-spacing: 0;
  --font-headline-headline-large-text-case: none;
  --font-headline-headline-medium-font-size: 28px;
  --font-headline-headline-medium-text-decoration: none;
  --font-headline-headline-medium-font-family: Inter;
  --font-headline-headline-medium-font-weight: 600;
  --font-headline-headline-medium-font-style: normal;
  --font-headline-headline-medium-font-stretch: normal;
  --font-headline-headline-medium-letter-spacing: -0.25px;
  --font-headline-headline-medium-line-height: 36px;
  --font-headline-headline-medium-paragraph-indent: 0;
  --font-headline-headline-medium-paragraph-spacing: 0;
  --font-headline-headline-medium-text-case: none;
  --font-headline-headline-small-font-size: 24px;
  --font-headline-headline-small-text-decoration: none;
  --font-headline-headline-small-font-family: Inter;
  --font-headline-headline-small-font-weight: 600;
  --font-headline-headline-small-font-style: normal;
  --font-headline-headline-small-font-stretch: normal;
  --font-headline-headline-small-letter-spacing: -0.5px;
  --font-headline-headline-small-line-height: 32px;
  --font-headline-headline-small-paragraph-indent: 0;
  --font-headline-headline-small-paragraph-spacing: 0;
  --font-headline-headline-small-text-case: none;
  --font-title-ttitle-large-font-size: 22px;
  --font-title-ttitle-large-text-decoration: none;
  --font-title-ttitle-large-font-family: Inter;
  --font-title-ttitle-large-font-weight: 500;
  --font-title-ttitle-large-font-style: normal;
  --font-title-ttitle-large-font-stretch: normal;
  --font-title-ttitle-large-letter-spacing: -1px;
  --font-title-ttitle-large-line-height: 28px;
  --font-title-ttitle-large-paragraph-indent: 0;
  --font-title-ttitle-large-paragraph-spacing: 0;
  --font-title-ttitle-large-text-case: none;
  --font-title-title-medium-font-size: 16px;
  --font-title-title-medium-text-decoration: none;
  --font-title-title-medium-font-family: Inter;
  --font-title-title-medium-font-weight: 500;
  --font-title-title-medium-font-style: normal;
  --font-title-title-medium-font-stretch: normal;
  --font-title-title-medium-letter-spacing: -1px;
  --font-title-title-medium-line-height: 24px;
  --font-title-title-medium-paragraph-indent: 0;
  --font-title-title-medium-paragraph-spacing: 0;
  --font-title-title-medium-text-case: none;
  --font-title-title-small-font-size: 14px;
  --font-title-title-small-text-decoration: none;
  --font-title-title-small-font-family: Inter;
  --font-title-title-small-font-weight: 500;
  --font-title-title-small-font-style: normal;
  --font-title-title-small-font-stretch: normal;
  --font-title-title-small-letter-spacing: -0.5px;
  --font-title-title-small-line-height: 20px;
  --font-title-title-small-paragraph-indent: 0;
  --font-title-title-small-paragraph-spacing: 0;
  --font-title-title-small-text-case: none;
  --font-body-body-large-font-size: 16px;
  --font-body-body-large-text-decoration: none;
  --font-body-body-large-font-family: Inter;
  --font-body-body-large-font-weight: 500;
  --font-body-body-large-font-style: normal;
  --font-body-body-large-font-stretch: normal;
  --font-body-body-large-letter-spacing: -0.25px;
  --font-body-body-large-line-height: 24px;
  --font-body-body-large-paragraph-indent: 0;
  --font-body-body-large-paragraph-spacing: 0;
  --font-body-body-large-text-case: none;
  --font-body-body-medium-font-size: 14px;
  --font-body-body-medium-text-decoration: none;
  --font-body-body-medium-font-family: Inter;
  --font-body-body-medium-font-weight: 500;
  --font-body-body-medium-font-style: normal;
  --font-body-body-medium-font-stretch: normal;
  --font-body-body-medium-letter-spacing: 0.5px;
  --font-body-body-medium-line-height: 20px;
  --font-body-body-medium-paragraph-indent: 0;
  --font-body-body-medium-paragraph-spacing: 0;
  --font-body-body-medium-text-case: none;
  --font-body-body-small-font-size: 12px;
  --font-body-body-small-text-decoration: none;
  --font-body-body-small-font-family: Inter;
  --font-body-body-small-font-weight: 500;
  --font-body-body-small-font-style: normal;
  --font-body-body-small-font-stretch: normal;
  --font-body-body-small-letter-spacing: -0.5px;
  --font-body-body-small-line-height: 16px;
  --font-body-body-small-paragraph-indent: 0;
  --font-body-body-small-paragraph-spacing: 0;
  --font-body-body-small-text-case: none;
  --font-label-label-large-font-size: 14px;
  --font-label-label-large-text-decoration: none;
  --font-label-label-large-font-family: Inter;
  --font-label-label-large-font-weight: 500;
  --font-label-label-large-font-style: normal;
  --font-label-label-large-font-stretch: normal;
  --font-label-label-large-letter-spacing: -0.85px;
  --font-label-label-large-line-height: 20px;
  --font-label-label-large-paragraph-indent: 0;
  --font-label-label-large-paragraph-spacing: 0;
  --font-label-label-large-text-case: none;
  --font-label-label-medium-font-size: 12px;
  --font-label-label-medium-text-decoration: none;
  --font-label-label-medium-font-family: Inter;
  --font-label-label-medium-font-weight: 500;
  --font-label-label-medium-font-style: normal;
  --font-label-label-medium-font-stretch: normal;
  --font-label-label-medium-letter-spacing: -0.25px;
  --font-label-label-medium-line-height: 16px;
  --font-label-label-medium-paragraph-indent: 0;
  --font-label-label-medium-paragraph-spacing: 0;
  --font-label-label-medium-text-case: none;
  --font-label-label-small-font-size: 11px;
  --font-label-label-small-text-decoration: none;
  --font-label-label-small-font-family: Inter;
  --font-label-label-small-font-weight: 500;
  --font-label-label-small-font-style: normal;
  --font-label-label-small-font-stretch: normal;
  --font-label-label-small-letter-spacing: -0.25px;
  --font-label-label-small-line-height: 16px;
  --font-label-label-small-paragraph-indent: 0;
  --font-label-label-small-paragraph-spacing: 0;
  --font-label-label-small-text-case: none;
  --color-roles-primary-roles-primary-color-role: #037ce6ff;
  --color-roles-primary-roles-on-primary-role: #ffffffff;
  --color-roles-primary-roles-primary-container-color-role: #cde7feff;
  --color-roles-primary-roles-on-primary-container-color-role: #025197ff;
  --color-roles-secondary-roles-secondary-color: #4c689eff;
  --color-roles-secondary-roles-on-secondary-role: #ffffffff;
  --color-roles-secondary-roles-secondary-container-color-role: #cde7feff;
  --color-roles-secondary-roles-on-secondary-container-color-role: #324467ff;
  --color-roles-tertiary-roles-tertiary-color-role: #3f428dff;
  --color-roles-tertiary-roles-on-tertiary-color-role: #ffffffff;
  --color-roles-tertiary-roles-tertiary-container: #e3e3f2ff;
  --color-roles-tertiary-roles-on-tertiary-container: #2f3169ff;
  --color-roles-neutral-roles-neutral-color-role: #000000ff;
  --color-roles-neutral-roles-on-neutral-color-role: #ffffffff;
  --color-roles-neutral-roles-neutral-container-color-role: #f2f2f2ff;
  --color-roles-neutral-roles-on-neutral-container-color-role: #666666ff;
  --color-roles-neutral-variant-roles-neutral-variant-color-role: #000000ff;
  --color-roles-neutral-variant-roles-on-neutral-variant-color-role: #ffffffff;
  --color-roles-neutral-variant-roles-neutral-variant-container-color-role: #ebebebff;
  --color-roles-neutral-variant-roles-on-neutral-variant-container-color-role: #4c4c4cff;
  --color-roles-accent-roles-accent-color-role: #000000ff;
  --color-roles-accent-roles-on-accent-container-color-role: #995900ff;
  --color-roles-accent-roles-on-accent-color-role: #ffffffff;
  --color-roles-accent-roles-accent-container-color-role: #ffeed6ff;
  --color-roles-error-roles-error-color-role: #000000ff;
  --color-roles-error-roles-on-error-color-role: #ffffffff;
  --color-roles-error-roles-error-container-color-role-3: #ffd6d6ff;
  --color-roles-error-roles-on-error-container-color-role-4: #990000ff;
  --color-roles-success-roles-success-color-role: #05c783ff;
  --color-roles-success-roles-on-success-color-role: #ffffffff;
  --color-roles-success-roles-success-container-color-role: #d7fef0ff;
  --color-roles-success-roles-on-success-container-color-role: #049563ff;
  --color-roles-warning-roles-wrning-color-role: #ffe600ff;
  --color-roles-warning-roles-on-warning-color-role: #ffffffff;
  --color-roles-warning-roles-warning-container-color-role: #fffbd6ff;
}
